
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 50vh; */
}

/* Make the images invisible by default */
.containers {
  /* height: 100%; */
  display: block !important;
  margin: 4px;
 
}
.block-containers {
  width: 40%;
}
.none-containers {
  width: 20%;
}



/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  color: rgba(219, 131, 16, 0.8);
}




/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}